velocity.log*
build
target
classes
dist
junit*.properties
*.log
.classpath
.project
bin
*.iml
.idea
.clover
.classpath
.project
.settings
*.iml
*.ipr
*.iws
.idea
*.log
*~
xdocs
out
trunk
*.releaseBackup
release.properties
dependency-reduced-pom.xml